@model QualitySouvenirs.Models.Souvenir

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div><a asp-action="Index">Back to List</a></div>
<div class="container">
    <div class="row">
        <div class="col-sm-9 padding-right">
            <h4>Souvenir</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.SouName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SouName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SouPrice)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SouPrice)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SouDescription)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SouDescription)
                </dd>
                <dt>
                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.SouImage)" width="100" height="200" />
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.SouQuantity)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SouImage)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Supplier)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Supplier.SupplierID)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Category.CategoryID)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="SouvenirID" />
                <input type="submit" value="Delete" class="btn btn-default" /> |

            </form>
        </div>
    </div>
</div>
